@import "../../../styles/variables.module.scss";

.Container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 90px;
  text-align: center;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 976px;
  }

  @media (min-width: 768) and (max-width: 991.98px) {
    width: 750px;
  }
}

.Row {
  margin-right: -15px;
  margin-left: -15px;
}
