@import "../../../styles/variables.module.scss";

.Container {
  margin: 210px 0;
  text-align: center;
  color: #bb9356;
  font-family: "Ruthie", cursive;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 56px;
  }

  @media (max-width: 767px) {
    font-size: 44px;
  }
}
