@import "../../../styles/variables.module.scss";

.Container {
  padding: 110px 0;
  overflow: hidden;

  @media (max-width: 767.98px) {
    margin: 60px 0;
  }
}

.wrapTopContent {
  text-align: center;
  width: 66.6666667%;
  margin: 0 auto 100px auto;
  padding: 0 15px;

  @media (min-width: 768px) and (max-width: 1023.98px) {
    width: 90%;
  }

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.titleHello {
  color: $light-yellow;
  font-family: "Ruthie", cursive;
  font-size: 45px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: capitalize;

  @media (max-width: 767.98px) {
    font-size: 35px;
  }
}

.titleDetail {
  font-family: "Abril Fatface", cursive;
  color: $light-black;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;

  @media (max-width: 767.98px) {
    font-size: 36px;
  }
}

.wrapSticker {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .iconShape {
    height: 16px;
  }
}

.textContentSection {
  font-family: "Poppins", sans-serif;
  color: $grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  padding: 0 40px;

  @media (max-width: 767.98px) {
    padding: 0 20px;
  }
}

.wrapImgAuthor {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapBodyContent {
  margin: 0 -15px;
}

.coverBodyContent {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @media (min-width: 992px) {
    width: 100%;
    float: left;
  }
}

.bgSection2 {
  overflow: hidden;
  position: absolute;
  top: 110px;
  left: 0;
  height: 950px;
  width: 100%;
  z-index: 0;
  object-fit: cover;

  @media (min-width: 768px) and (max-width: 991.98px) {
    display: none;
  }
}

.wrapMenuSection2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 970px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 750px;
  }
}

.coverMenu {
  margin-right: -15px;
  margin-left: -15px;
}

.setSize {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 992px) {
    width: 100%;
    float: left;
  }

  @media (min-width: 768px) {
    width: 100%;
    float: left;
  }
}

.wrapRowMenu {
  margin-right: -15px;
  margin-left: -15px;
}

.paddingMenu {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.boxShadowMenu {
  box-shadow: 0px 1px 73px 0px rgba(40, 40, 40, 0.1);
  overflow: hidden;

  @media (max-width: 767.98px) {
    box-shadow: none;
  }
}

.rowMenu {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767.98px) {
    display: block;
  }
}

.itemMenu {
  padding: 0 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.wrapItemMenu {
  padding-right: 15px;
  padding-left: 15px;
  background-color: $white;
  overflow: hidden;
  text-align: center;
  margin-bottom: 0;
  position: relative;

  &.setPaddingRight {
    padding-right: 0;
  }

  &.setPaddingLeft {
    padding-left: 0 !important;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    min-height: 600px;
  }
}

.wrapContentLeft {
  padding: 30px 15px;
  margin: 10px;
  border: 1px dashed $lighter-yellow;
  height: 272px;
  font-family: "Poppins", sans-serif;

  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
}

.contentLeft {
  padding: 0 !important;
  position: relative;
  min-height: 1px;

  @media (min-width: 992px) {
    width: 50%;
    float: left;
  }

  @media (max-width: 767.98px) {
    padding-left: 15px !important;
    width: 100%;
    float: left;
  }
}

.shapeLeft {
  position: absolute;
  left: 0;
  top: 30%;
  width: 13px;
  height: 124px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.shapeRight {
  position: absolute;
  right: 0;
  top: 30%;
  width: 13px;
  height: 124px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.recommendedTag {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 3px 6px;
  background-color: $light-yellow;
  color: $white;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
}

.imgRight {
  height: 292px;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;

  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

.itemPrice {
  margin-bottom: 10px;
  font-size: 18px;
  position: relative;
  font-weight: 600;
  line-height: 29px;
  color: $light-yellow;
  text-align: center;
}

.itemTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  color: $lighter-black;
  margin-bottom: 0;
}

.itemContent {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 0;
  color: $grey;
  text-align: center;
}
