@import "../../styles/variables.module.scss";

.Container {
  background-color: transparent;
  height: 100px;
  font-family: "Poppins", sans-serif;
}

.wrapHeader {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 20px;
  border: none;
  border-radius: 0;
  height: 100px;
  margin: 0 20px;

  @media (max-width: 767.98px) {
    margin: 0;
    padding: 0 10px;
  }

  &.scrolled {
    position: fixed;
    top: 0;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    border-radius: 0;
    height: 100px;
    border: none;
    margin: 0 20px;
    right: 0;
    left: 0;
    z-index: 1030;

    @media (max-width: 767.98px) {
      margin: 0;
      padding: 0 10px;
    }
  }
}

.coverHeader {
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 1250px) {
    width: auto;
  }

  @media (min-width: 1200px) {
    width: 1050px;
  }
  @media (min-width: 992px) and (max-width: 1023.98px) {
    width: 870px;
  }
  @media (min-width: 1024px) and (max-width: 1199.98px) {
    width: 900px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
  }
  @media (min-width: 768px) and (max-width: 850px) {
    padding: 0 35px;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    margin: 0;
    padding: 0;
  }
}

.itemLeft {
  @media (min-width: 768px) {
    margin: 0;
    float: left;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    float: none !important;
    text-align: center;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0;
    padding: 0 10px;
  }
}

.itemRightMobile {
  @media (min-width: 768px) {
    display: none;
  }
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 3px solid transparent;
  border-radius: 4px;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    border-color: $black;
    border-radius: 10px;
    margin-top: 25px;
    padding: 5px 10px;
  }

  &.borderBlack {
    border: 3px solid $white;
  }

  &.openMenu {
    background-color: $light-yellow;
  }
}

.linkLogoHeader {
  line-height: 100px;
  height: 100px;
  transition: all 0.3s ease;
  @media (max-width: 767px) {
    float: left;
    text-align: center;
  }
}

.logoHeader {
  vertical-align: middle;
  border: 0;
  display: inline-block;
  object-fit: cover;
}

.itemRight {
  max-height: 340px;
  padding: 0;
  float: right !important;

  @media (min-width: 768px) {
    margin: 0;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  @media only screen and (max-width: 767px) {
    width: 100%;
    background-color: $light-black;
    margin-right: 0;
    margin-left: 0;
    display: none !important;
  }
}

.listMenu {
  padding-left: 0;
  list-style: none;
  @media (min-width: 768px) {
    float: left !important;
    margin: 0;
    display: flex;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 100%;
    padding: 0 15px;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.itemListMenu {
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    margin-right: 13px;
  }

  @media (min-width: 768px) {
    float: left;
  }

  @media only screen and (min-width: 992px) {
    position: static !important;
  }
}

.itemLink {
  color: $white;
  font-size: px-to-rem(14px);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100px;
  padding: 0;
  position: relative;
  display: block;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-right: 32px;
  font-family: "Poppins", sans-serif;

  &.colorBlackLink {
    color: $black;
  }

  &.itemBlog {
    margin-right: 0;
  }

  &:hover {
    background-color: transparent;
    color: $light-yellow;
  }

  &.selected {
    color: $light-yellow;
  }
}

.iconBar {
  background-color: $white;
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 0;

  &.iconBarBlack {
    background-color: $black;
  }
}
